body {
    background-color: rgb(31, 31, 31);
}

.grid-container {
  display: grid;
  grid-template-rows: 50% 50%;
  grid-template-columns: 100%;
  height: 100vh;
}

.grid-item {
  text-align: center;
}
.top-half {
  background-color: rgb(48, 204, 196);
  display: grid;
  place-items: center;
  color: white;
  font-size: 3.5rem;
}
.bottom-half {
  background-color: rgb(31, 31, 31);
}
section.grid-section {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
header {
  font-size: 2rem;
  margin-top: 10px;
  margin-bottom: 10px;
}
div.grid-item{
  max-width: 15rem;
  width: 150px;
}
div.text {
  font-size: .8rem;
}

div.title-box {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background: red; */
  height: 1.4rem;
}

.title-box-1 {
  background: rgba(50,168,221,255);
}
.title-box-2 {
  background: #f86434
}
.title-box-3 {
  background: rgb(48, 204, 196);
}
/* div.grid-item:not(last-child) {
  margin-right: 20px;
} */
div.wrapper {
  display: flex;
  width: 600px;
  height: 250px;
  justify-content: space-around
}

@media (max-width: 600px) {
  .top-half {
    background-color: rgba(50,168,221,255);
    display: grid;
    place-items: center;
    color: white;
    font-size: 2rem;
  }
  .bottom-half {
    background-color: rgb(231, 231, 231);
  }
  div.title-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 1.4rem;
  }
  /* .grid-section {
    width: 3rem;
  } */
  div.wrapper {
    display: flex;
    /* width: 3px; */
    height: .3rem;
    flex-direction: column;
    align-items: center;
    max-height: 62.5px;
    margin-top: 30rem;
  }
  .text {
    margin-bottom: 1rem;
  }
  .title-box-1 {
    background: rgba(50,168,221,255);
  }
  .title-box-3 {
    background: rgb(48, 204, 196);
  }
}
